%menu-elem {
	margin-top: 50px;
	color: white;
	display: block;
}

%box-elem {
	padding: 30px;
	padding-bottom: 10px;
	width: 50%;
}

.RobQuote{
	display: block;
	width: 100%;
	height: 60px;
	background-color: #222529;
	text-align: center;
	padding: 10px;
	p{
		font-size: 14px;
		color: white;
		margin-bottom: 1px;
	}
}

.bankManagement{
	padding: 30px;
	padding-bottom: 1px;
    margin: auto 0px;
    width: 100%;
    background-color: #222529;
    color: white;
}

.gameContainer{
	height: 100px;
	width: 100%;
	margin-top: 20px;
    text-align: center;
}

.loadingRobbery{
	margin-left: auto;
    margin-right: auto;
}

.gameInteraction{
	@extend %box-elem;
	margin-left: 30px;
	.actionRob {
		height: 100px;
		width: 100%;
		margin-top: 20px;
	    text-align: center;
	    .enterValue{
	    	width: 50%;
	    	display: inline-block;
	    }
	    .eth_icon{
	    	width: 40px;
	    }
	    .eth_text{
	    	display: inline;
	    }
		input{
			height: 50px;
			width: auto;
			text-align: center;
            border: none;
		    display: inline-block;
		    margin-left: 2px;
		    position: relative;
		    top: 15%;
		}
		button{
			border-style: solid;
			border-color: red;
			height: 70%;
			width: 100px;
			border-radius: 20px;
		    display: inline-block;
		    margin-left: 2px;
		    margin-right: 2px;
		    position: relative;
		    top: 15%;
		}
	}

	#robItButton{
	    color: #fff !important;
	    text-transform: uppercase;
	    text-decoration: none;
	    background: #293a41;
	    padding: 18px;
	    border-radius: 17px;
	    display: inline-block;
	    border: none;
	    transition: all 0.4s ease 0s;
	}
}

.bank{
	@extend %box-elem;
	float: right;
}

.ManagementContainer{
	width: 50%;
	margin: auto;
	button {
		margin-left: 50px;
		margin-right: 50px;
		width: 150px;
		height: 70px;
		.NewbankButton{
			height: 50px;
		}
	}
	.success{
		margin-left: 50px;
		margin-right: 50px;
		width: 150px;
		height: 50px;
	}
	input{
		margin-right: 40px;
		margin-left: 40px;
	}

}

.ManagementBankInfo{
	margin-right: 50px;
	clear: both;
}


