flip-coin/client/src/contracts/CoinFlip.json
flip-coin/client/src/contracts/Migrations.json
flip-coin/truffle-config.js
flip-coin/.truffle-config.js.swp
flip-coin/.secret
flip-coin/.secret*
flip-coin/client/.secret
flip-coin/client/.secret*
flip-coin/client/*lock
flip-coin/contracts
flip-coin/build/contracts/*.json
flip-coin/.DS_Store
node_modules/
flip-coin/node_modules/
package-lock.json
README_LOCAL_GANACHE.txt
