client/src/contracts/CoinFlip.json
client/src/contracts/Migrations.json
client/src/contracts
truffle-config.js
.truffle-config.js.swp
.secret
.secret*
client/.secret
client/.secret*
client/*lock
client/src/contracts/*.json
build/contracts/*.json
.DS_Store
node_modules/
package-lock.json
README_LOCAL_GANACHE.txt
