

@font-face {
  font-family: StrickenBrush;
  src: url(../../font/StrickenBrush.otf);
}

.BankManagementMenu {
  font-family: StrickenBrush;
  font-size: 40px;
  margin-right: 60px;
}

.BankManagementCreate{
  font-family: StrickenBrush;
  font-size: 40px;
  margin-right: 60px;	
}

.imageGangster{
	width: 80%;
	height: 80%;
}

.imageBank{
	width: 80%;
	height: 80%;
}



%menu-elem {
	margin-top: 50px;
	color: white;
	display: block;
}

%box-elem {
	padding: 30px;
	padding-bottom: 10px;
	width: 50%;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ed6381;
  border-radius: 50%;
  display: inline-block;
}

.navNetwork{
	margin-top:8px;
	color:#8c969f;
}

.RobQuote{
	display: block;
	width: 100%;
	height: 60px;
	background-color: #222529;
	text-align: center;
	padding: 10px;
	p{
		font-size: 14px;
		color: white;
		margin-bottom: 1px;
	}
}

.bankManagement{
	padding: 30px;
	padding-bottom: 1px;
    margin: auto 0px;
    width: 100%;
    background-color: #222529;
    color: white;
}

.gameContainer{
	height: 100px;
	width: 100%;
	margin-top: 20px;
    text-align: center;
}

.loadingRobbery{
	margin-left: auto;
    margin-right: auto;
}

.gameInteraction{
	@extend %box-elem;
	margin-left: 30px;
	.actionRob {
		height: 100px;
		width: 100%;
		margin-top: 20px;
	    text-align: center;
	    .enterValue{
	    	width: 50%;
	    	display: inline-block;
	    }
	    .eth_icon{
	    	width: 40px;
	    }
	    .eth_text{
	    	display: inline;
	    }
		input{
			height: 50px;
			width: auto;
			text-align: center;
            border: none;
		    display: inline-block;
		    margin-left: 2px;
		    position: relative;
		    top: 15%;
		}
		button{
			border-style: solid;
			border-color: red;
			height: 70%;
			width: 100px;
			border-radius: 20px;
		    display: inline-block;
		    margin-left: 2px;
		    margin-right: 2px;
		    position: relative;
		    top: 15%;
		}
	}
	.limited{
		color:red;
	}

	.notLimited{
		color: #496bf6;
	}

	#robItButton{
	    color: #fff !important;
	    text-transform: uppercase;
	    text-decoration: none;
	    background: #293a41;
	    padding: 18px;
	    border-radius: 17px;
	    display: inline-block;
	    border: none;
	    transition: all 0.4s ease 0s;
	}
}

.bank{
	@extend %box-elem;
	float: right;
}

.ManagementContainer{
	width: 70%;
	margin: auto;
	button {
		margin-left: 50px;
		margin-right: 50px;
		width: 150px;
		height: 70px;
		.NewbankButton{
			height: 50px;
		}
	}
	.success{
		margin-left: 50px;
		margin-right: 50px;
		width: 150px;
		height: 50px;
	}
	input{
		margin-right: 40px;
		margin-left: 40px;
	}

}

.ManagementBankInfo{
	margin-right: 50px;
	clear: both;
}
